module.exports = {
  CLIENT_API_PASS: ,
  API_URL: ,
  GOOGLE_WEB_CLIENT_ID:,
  ESP32_BLE_SERVICE_UUID: ,
  ESP32_BLE_CHARACTERISTIC_WRITE_UUID: ,
  GOOGLE_WEB_CLIENT_ID_RELEASE: ,
  GOOGLE_WEB_CLIENT_SECRET_RELEASE: 
};

